fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
openai-whisper
sounddevice
soundfile
numpy
elevenlabs
groq
python-dotenv
loguru
aiofiles
pytest
chromadb
sentence-transformers
biopython
gTTS
